# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

* @xuechendi @adobrzyn @mgawarkiewicz-intel @afierka-intel @michalkuligowski @iboiko-habana @kamil-kaczor @ksmusz
